# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# VS / JetBrains
.vscode/
*.csproj
*.sln
*.user
*.suo
.idea/

# OS
.DS_Store
Thumbs.db
Assets/Resources/api_key.json